.navbar {
    background: getColour(offwhite)!important;
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 1.7em;
    font-weight: 700;
}

.active {
    color: getColour(accent)!important;
}

.nav-link {
    color: getColour(text);
}